# We don't want Mods on github

# Curseforge stuff


# MC files we don't need here

# No CCI configs on github
src/config/contentcreatorintegration/
src/config/defaultoptions/servers.dat

# don't push this file
.gitignore
